<!DOCTYPE html>
<html>
<head>
    <title>Animal Classifier</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>🐾 Animal Classification</h1>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
        <img src="{{ image }}" width="200">
    {% endif %}
</body>
</html>
